
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- About Section Start -->
<div id="about">
    <div class="container">
        <div class="section-header">
            <h2>Royal Hotel Hakkında</h2>
            <p>
                Royal Hotel, konforu ve lüksü bir araya getiren benzersiz bir konaklama deneyimi sunar. Şehrin merkezinde yer alan otelimiz, misafirlerimize hem iş seyahatleri hem de tatil konaklamaları için mükemmel bir ortam sağlar.
            </p>
        </div>
        <div class="row">
            <div class="col-md-6 img-cols">
                <div class="img-col">
                    <img class="img-fluid" src="~/hotelweb/img/about/about-1.jpg">
                </div>
            </div>
            <div class="col-md-6 content-cols">
                <div class="content-col">
                    <h3>Konfor ve Şıklık</h3>
                    <p>
                        Modern tasarımı ve zarif dekorasyonu ile Royal Hotel, misafirlerine huzurlu ve rahat bir konaklama sunar. Özel olarak tasarlanmış odalarımızda, yüksek kaliteli yataklar, ücretsiz Wi-Fi ve panoramik şehir manzaraları bulunmaktadır.
                    </p>
                    <p>
                        Rahatınız için tüm detaylar düşünülerek dizayn edilen otelimiz, misafir memnuniyetini ön planda tutmaktadır.
                    </p>
                    <a href="/Hotel/Index">Daha Fazla Bilgi</a>
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-6 img-cols d-block d-md-none">
                <div class="img-col">
                    <img class="img-fluid" src="~/hotelweb/img/about/about-2.jpg">
                </div>
            </div>
            <div class="col-md-6 content-cols">
                <div class="content-col">
                    <h3>Gastronomi Deneyimi</h3>
                    <p>
                        Otelimizin restoranında, dünya mutfağından seçkin lezzetleri deneyimleyebilirsiniz. Şeflerimiz, yerel ve organik malzemelerle hazırlanan özel menülerle hizmet vermektedir.
                    </p>
                    <p>
                        Sabah kahvaltısından akşam yemeğine kadar her öğün, damak zevkinize hitap eden özenle seçilmiş lezzetler sunar.
                    </p>
                    <a href="/Hotel/Index">Daha Fazla Bilgi</a>
                </div>
            </div>
            <div class="col-md-6 img-cols d-none d-md-block">
                <div class="img-col">
                    <img class="img-fluid" src="~/hotelweb/img/about/about-2.jpg">
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-6 img-cols">
                <div class="img-col">
                    <img class="img-fluid" src="~/hotelweb/img/about/about-3.jpg">
                </div>
            </div>
            <div class="col-md-6 content-cols">
                <div class="content-col">
                    <h3>Özel Hizmetler ve Etkinlikler</h3>
                    <p>
                        Royal Hotel, iş toplantılarınız, düğünler ve özel etkinlikler için ideal mekanlar sunar. Son teknoloji ile donatılmış konferans salonlarımız ve şık balo salonumuz, her türlü organizasyon için uygundur.
                    </p>
                    <p>
                        Ayrıca, misafirlerimizin rahatlaması için spa, fitness merkezi ve açık yüzme havuzu gibi özel imkanlarımız da bulunmaktadır.
                    </p>
                    <a href="/Hotel/Index">Daha Fazla Bilgi</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- About Section End -->
