
@{
    ViewBag.Title = "Amenities";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Amenities Section Start -->
<div id="amenities">
    <div class="container">
        <div class="section-header">
            <h2>Hizmetlerimiz</h2>
            <p>
                Hizmet detaylarımızı buradan inceleyebilirmisiniz.
            </p>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 icons">
                <i class="icon icon-2"></i>
                <h3>İklimlendirme Klima</h3>
                <p>Endüstriyel klimalarımız ile ortam havalandırmamızı sağlıyoruz</p>
            </div>
            <div class="col-md-3 col-sm-6 icons">
                <i class="icon icon-3"></i>
                <h3>Jakuzi</h3>
                <p>Masaj özelliğine sahip modern jakuzilerimiz.</p>
            </div>
            <div class="col-md-3 col-sm-6 icons">
                <i class="icon icon-4"></i>
                <h3>Duş</h3>
                <p>Odalarımızda birden fazla duş ile rahatınızı düşündük</p>
            </div>
            <div class="col-md-3 col-sm-6 icons">
                <i class="icon icon-6"></i>
                <h3>Televizyon</h3>
                <p>20 ekran devasa televizyonlarımız odalarımızda bulunmaktadır</p>
            </div>
            <div class="col-md-3 col-sm-6 icons">
                <i class="icon icon-7"></i>
                <h3>WiFi</h3>
                <p>100Mb fiber internetimiz mevcuttur</p>
            </div>
            <div class="col-md-3 col-sm-6 icons">
                <i class="icon icon-8"></i>
                <h3>Telefon</h3>
                <p>Resepsiyona odalarınızdaki telefonlardan ulaşabilirsiniz.</p>
            </div>
            <div class="col-md-3 col-sm-6 icons">
                <i class="icon icon-9"></i>
                <h3>Mini Bar</h3>
                <p>Geniş ürün yelpazemiz ve uygun fiyatlarımız vardır</p>
            </div>
            <div class="col-md-3 col-sm-6 icons">
                <i class="icon icon-10"></i>
                <h3>Mutfak</h3>
                <p>Dünyaca ünlü şeflerimizin bulunduğu mutfağımız </p>
            </div>
        </div>
    </div>
</div>
<!-- Amenities Section Start -->
